In [1]:
import numpy as np
import pandas as pd

In [18]:
class SimpleLinearRegression:

    def __init__(self):
        self.m = None
        self.b = None

    def fit(self,X_train,y_train):

        num = 0
        den = 0
        
        for i in range(X_train.shape[0]):
            num = num +((X_train[i] - X_train.mean())*(y_train[i] - y_train.mean()))
            den = den + ((X_train[i] - X_train.mean())*(X_train[i] - X_train.mean()))

        self.m = num/den
        self.b = y_train.mean() - (self.m*X_train.mean())

        print(self.m)
        print(self.b)

    def predict(self,X_test):
        return self.m*X_test + self.b

In [2]:
df = pd.read_csv('/home/saif/Desktop/algos_from_scratch/slr/Salary_dataset.csv')

In [3]:
df.head()

   Unnamed: 0  YearsExperience   Salary
0           0              1.2  39344.0
1           1              1.4  46206.0
2           2              1.6  37732.0
3           3              2.1  43526.0
4           4              2.3  39892.0

In [4]:
# remove unnamed column
df.drop('Unnamed: 0',axis=1,inplace=True)
df.head()

   YearsExperience   Salary
0              1.2  39344.0
1              1.4  46206.0
2              1.6  37732.0
3              2.1  43526.0
4              2.3  39892.0

In [5]:
X = df.iloc[:,0].values
y = df.iloc[:,1].values

In [6]:
X

array([ 1.2,  1.4,  1.6,  2.1,  2.3,  3. ,  3.1,  3.3,  3.3,  3.8,  4. ,
        4.1,  4.1,  4.2,  4.6,  5. ,  5.2,  5.4,  6. ,  6.1,  6.9,  7.2,
        8. ,  8.3,  8.8,  9.1,  9.6,  9.7, 10.4, 10.6])

In [7]:
y

array([ 39344.,  46206.,  37732.,  43526.,  39892.,  56643.,  60151.,
        54446.,  64446.,  57190.,  63219.,  55795.,  56958.,  57082.,
        61112.,  67939.,  66030.,  83089.,  81364.,  93941.,  91739.,
        98274., 101303., 113813., 109432., 105583., 116970., 112636.,
       122392., 121873.])

In [8]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=2)

In [19]:
lr = SimpleLinearRegression()

In [20]:
lr.fit(X_train,y_train)

9569.586885432866
23437.21046340505

In [21]:
lr.predict(X_test[0])

36834.632103011056